html {
  background-color: lightgray
}

.App {
  text-align: center;
  background-color: lightgray
}

.classification {
  background-color: #502b85;
  text-align: center;
  top: auto;
  width: 100%;
  position: fixed;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


